[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
faker = "*"

[packages]
flask-moment = "*"
faker = "*"
flask-debugtoolbar = "*"pip
wtforms = "*"
bootstrap-flask = "*"
flask-bootstrap = "*"
flask-login = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"

[requires]
python_version = "3.6"
